/* Add Styles Here */

.services__box {
  padding: 2rem;
  border-radius: 3px;
  background-color: rgba(204,204,204,1);
  border: 1px solid #fff;
  text-align: center;
  transition: all .3s;
}

.services__box h3 {
  font-size: 1.5rem;
}

.services__box:hover {
  transform: translateY(-1rem) scale(1.05);
}

.photo-right, .photo-left {
  float: none;
  width: 100%;
  margin-left: 0;
  margin-bottom: 1rem;
}

.photo-left {
  margin-right: 0;
}

.biogpraphy-photo {
  width: 100%;
}

#quote {
  font-family: 'Merriweather', serif;
  font-size: 1.5rem;
  font-weight: 300;
  font-style: italic;
}


@media (min-width: 576px) {
  
}

@media (min-width: 768px) {
  .photo-right {
    float: right;
    width: 50%;
    margin-left: 1rem;
  }

  .photo-left {
    float: left;
    width: 50%;
    margin-right: 1rem;
  }
}

@media (min-width: 992px) {
  
}

@media (min-width: 1200px) {
  
}
